
<p>&lt;!DOCTYPE html&gt;</p>
<html>
<head>
  <meta charset="utf-8" />
<link rel="apple-touch-icon" sizes="76x76" href="../assets/img/favicon.png" />
<link rel="icon" href="../assets/img/favicon.png" type="image/png" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta name="author" content="Creative Tim" />



<title>

  Docs | Astro Ecommerce @ Creative Tim

</title>

<link rel="canonical" href="https://www.creative-tim.com/astro/" />

<link rel="stylesheet" href="../assets/css/astro-ecommerce.css" type="text/css" />
<link href="https://cdn.jsdelivr.net/npm/@algolia/autocomplete-theme-classic" rel="stylesheet" type="text/css" />

<script src="https://kit.fontawesome.com/349ee9c857.js" crossorigin="anonymous"></script>

<!-- This is for docs typography and layout -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet" />
<link href="../assets/highlight.css" rel="stylesheet" />


<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-NKDMSK6');</script>
<!-- End Google Tag Manager -->

</head>

<body class="docs ">
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-M256CF6" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->

  <header class="ct-docs-navbar navbar blur">
  <a class="navbar-brand font-weight-bolder d-flex align-items-center ms-1" href="../" target="_blank">
    Elrond Elements
  </a>
    <ul class="ct-docs-navbar-nav-left"></ul>
    <ul class="ct-docs-navbar-nav-right d-flex align-items-center">
      <li class="nav-item">
        <a class="nav-link text-dark font-weight-bold d-flex align-items-center" aria-current="page" href="../docs/overview/"> Docs </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-dark font-weight-bold d-flex align-items-center" aria-current="page" href="../#section-tools"> Develop </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-dark font-weight-bold d-flex align-items-center" aria-current="page" href="https://discord.com/invite/FhCJCaHdQa" rel="nofollow" target="_blank">
          <i class="fab text-lg fa-discord" aria-hidden="true"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-dark font-weight-bold d-flex align-items-center" aria-current="page" href="https://github.com/web3-creative-tim" rel="nofollow" target="_blank">
          <i class="fab text-lg fa-github" aria-hidden="true"></i>
        </a>
      </li>
        

        

     </ul>

     <ul class="navbar-nav d-lg-block d-none">
       <li class="nav-item ms-2">
          <a href="../docs/quick-start/" class="btn btn-sm mb-0 bg-gradient-dark">Get Started</a>
        </li>
      </ul>

   
    <button class="ct-docs-navbar-toggler" type="button">
        <span class="ct-docs-navbar-toggler-icon"></span>
    </button>
</header>


  <div class="oblique position-absolute top-0 end-0 h-100 opacity-6">
    <div class="oblique-image bg-cover position-absolute fixed-top ms-n12 mt-n12 h-100 z-index-0" style="background-image:url('../assets/img/gradient.svg')"></div>
  </div>

  <div class="ct-docs-main-container">
    <div class="ct-docs-main-content-row">
      <div class="ct-docs-sidebar-col">
        <nav class="ct-docs-sidebar-collapse-links"></nav>

      </div>

      

      <main class="ct-docs-content-col" role="main">
        <div class="ct-docs-page-title">
        <h1 class="ct-docs-page-h1-title" id="content">
          Docs
        </h1>

          
        </div>
        <p class="ct-docs-page-title-lead"></p>

        <hr class="ct-docs-hr" />
        

      </main>

    </div>

    <div class="ct-docs-main-footer-row">
      <div class="ct-docs-main-footer-blank-col">

      </div>

      <div class="ct-docs-main-footer-col">
        <footer class="footer  py-4  position-relative">
  <div class="container position-relative z-index-1">
    <div class="row">
      <div class="col-xl-4  me-auto mb-xl-0 mb-4 text-xl-start text-center">
        <h6 class=" text-white  text-2xl font-weight-black mb-2">Astro Ecommerce</h6>
      </div>
      <div class="col-xl-7 ms-xl-auto text-xl-end">
        <ul class="nav flex-row ms-auto mb-2 justify-content-xl-end justify-content-center mt-sm-0">
          <li class="nav-item text-start mb-sm-0 mb-4">
            <div>
              <h6 class=" text-white  font-weight-bolder">Company</h6>
              <ul class="flex-column ms-n3 nav">
                <li class="nav-item">
                  <a class="nav-link  text-white " href="https://www.creative-tim.com/presentation" rel="nofollow" target="_blank"> About us </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link  text-white " href="https://www.creative-tim.com/templates/free" rel="nofollow" target="_blank"> Freebies </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link  text-white " href="https://www.creative-tim.com/templates/premium" rel="nofollow" target="_blank"> Premium </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link  text-white " href="https://www.creative-tim.com/blog" rel="nofollow" target="_blank"> Blog </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link  text-white " href="https://www.creative-tim.com/affiliates/new" rel="nofollow" target="_blank"> Affiliate Program </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link  text-white " href="https://www.creative-tim.com/coupon" rel="nofollow" target="_blank"> Get coupon </a>
                </li>
              </ul>
            </div>
          </li>
          <li class="nav-item text-start ms-4 ms-lg-5 mb-sm-0 mb-4">
            <div>
              <h6 class=" text-white  font-weight-bolder">Help and Support</h6>
              <ul class="flex-column ms-n3 nav">
                <li class="nav-item">
                  <a class="nav-link  text-white " href="https://www.creative-tim.com/knowledge-center" rel="nofollow" target="_blank"> Knowledge Center </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link  text-white " href="https://www.creative-tim.com/contact-us" target="_blank"> Contact Us </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link  text-white " href="https://www.creative-tim.com/support-terms" target="_blank"> Premium Support </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link  text-white " href="https://www.creative-tim.com/sponsorships" rel="nofollow" target="_blank"> Sponsorship </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link  text-white " href="https://www.creative-tim.com/services/updivision?ref=astro-ecommerce" rel="nofollow" target="_blank"> Custom Development </a>
                </li>
              </ul>
            </div>
          </li>
          <li class="nav-item text-start ms-lg-5 ms-md-4 mb-sm-0 mb-4">
            <div>
              <h6 class=" text-white  font-weight-bolder">Legal</h6>
              <ul class="flex-column ms-n3 nav">
                <li class="nav-item">
                  <a class="nav-link  text-white " href="https://www.creative-tim.com/knowledge-center/terms-of-service/" rel="nofollow" target="_blank"> Terms &amp; Conditions </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link  text-white " href="https://www.creative-tim.com/knowledge-center/privacy-policy/" target="_blank"> Privacy Policy </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link  text-white " href="https://www.creative-tim.com/license" target="_blank"> Licenses </a>
                </li>
              </ul>
            </div>
          </li>
          <li class="nav-item text-start ms-4">
            <div>
              <h6 class=" text-white  font-weight-bolder">Resources</h6>
              <ul class="flex-column ms-n3 nav">
                <li class="nav-item">
                  <a class="nav-link  text-white " href="https://www.creative-tim.com/jobs" rel="nofollow" target="_blank">Jobs</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link  text-white " href="https://www.creative-tim.com/cheatsheet/bootstrap4" rel="nofollow" target="_blank">Bootstrap Cheat Sheet</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link  text-white " href="https://www.creative-tim.com/tools" rel="nofollow" target="_blank">Third-Party Tools</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link  text-white " href="https://iradesign.io/" rel="nofollow" target="_blank">Illustrations</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link  text-white " href="https://www.creative-tim.com/bits" rel="nofollow" target="_blank">Bits</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link  text-white " href="https://www.bluehost.com/?utm_medium=affiliate&amp;irpid=105&amp;clickid=P99C105S645N0B9A2D4499E0000V100&amp;pb=affiliate_nonpromo&amp;source=IR&amp;utm_source=IR" rel="nofollow" target="_blank">Bluehost</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link  text-white " href="https://www.digitalocean.com/?refcode=276af09d9975&amp;utm_campaign=Referral_Invite&amp;utm_medium=Referral_Program&amp;utm_source=CopyPaste" rel="nofollow" target="_blank">Digital Ocean</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link  text-white " href="https://www.creative-tim.com/gallery/get-shit-done-pro" rel="nofollow" target="_blank">Made with Creative Tim</a>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
      <div class="col-12 mt-4">
        <p class="text-sm  text-white  opacity-8 mb-0 text-center"> All rights reserved. Copyright © <script>
          document.write(new Date().getFullYear())
        </script> Coded Design System by <a href="https://www.creative-tim.com/" class=" text-white " rel="nofollow" target="_blank">Creative Tim</a>. </p>
      </div>
    </div>
  </div>
</footer>

      </div>

    </div>
  </div>

  <script src="../assets/js/plugins/prism.js" type="text/javascript"></script>
<script src="../assets/js/core/popper.min.js" type="text/javascript"></script>
<script src="../assets/js/core/bootstrap.min.js" type="text/javascript"></script>
<script src="../assets/js/plugins/tabs.js" type="text/javascript"></script>
<script src="../assets/js/elrond-elements.js" type="text/javascript"></script>






</body>
</html>
